@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Noto-Sans-KR', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 39, 52, 61;
    --background-end-rgb: 39, 52, 61;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Noto Sans KR';
}

.custom-img {
  background-image: url('../assets/img/main.png');
}

.h2 {
  @apply text-5xl font-bold
}

.desc1 {
  @apply py-5 text-xl
}

.button1 {
  @apply px-8 py-2 border
}